<configuration>
<system.webServer>
  <rewrite>
    <rules>
    <rule name="api" stopProcessing="true">
          <match url="^api/(.*)" />
          <conditions>
		  <conditions>
            <add input="{HTTP_REFERER}" pattern="^$" negate="true" />
           <add input="{HTTP_REFERER}" pattern="^(http|https)://techtests.com/.*" negate="false" />
          </conditions>
          <!--<action type="Redirect" url="http://{HTTP_HOST}/{R:1}"/>-->
          <action type="Rewrite" url="http://localhost:3000/{R:1}" appendQueryString="true" />
      </rule>

      <rule name="Redirect all requests" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="index.html" />
        <!--<action type="Rewrite" url="/" />-->
        </rule>
    </rules>
  </rewrite>
</system.webServer>
</configuration>