<div class="login-inner-form">
    <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group form-box">

            <input type="email" class="form-control"  placeholder="Email" name="Email" [(ngModel)]="model.Email"
            #Email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Email.invalid  }" required email />
            <div *ngIf="f.submitted && Email.invalid " class="invalid-feedback">
                <div *ngIf="Email.errors.required">Email is required</div>
                <div *ngIf="Email.errors.email">Email must be a valid email address</div>
            </div>
            <i class="flaticon-mail-2"></i>
        </div>
        <div class="form-group mb-0">
            <button type="submit" class="btn-md btn-theme btn-block">Submit</button>
        </div>
    </form>
    <!-- <div class="extra-login">
        <span>Or Login With</span>
    </div>
    <ul class="social-list clearfix">
        <li><a href="#" class="facebook-bg">Facebook</a></li>
        <li><a href="#" class="twitter-bg">Twitter</a></li>
        <li><a href="#" class="google-bg">Google</a></li>
    </ul> -->
</div>